@import url('https://fonts.googleapis.com/css2?family=Lora&family=PT+Mono&display=swap');

/* Initialise webpage with zero values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Style for overall webpage */
body {
    font-family: 'Lora', sans-serif;
    color: #000000
}

header{
    height: 80vh;
    background-size: cover;
    background: url(assets/img/dday-boat.jpg);
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Lora';
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    font-family: PT Mono;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: right;
}