@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* Initialise webpage with zero values */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style for overall webpage */
body {
    font-family: Calibri, sans-serif;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}